.signin-wrap {
    width: 500px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.06);
    padding: 24px;
    border-radius: 2px;
}

.signin-title {
    text-align: center;
    margin: 10px 0 30px;
    font-size: 2.6rem;
}

.signin-signup-text {
    margin-bottom: 20px;
    font-size: 1.4rem;
}