
.card-wrapper {
    border: 1px solid rgba(0,0,0,.06);
    padding: 24px;
    margin-bottom: 16px;
    display: flex;
    border-radius: 2px;
}

.card-content {
    display: flex;
    width: auto;
    flex: 2 1 300px;
    margin-right: 20px;
}

.card-price-btns {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex: 1 2 100px;
    flex-wrap: wrap;
}

.card-img {
    height: 120px;
    min-width: 120px;
    background: rgba(0,0,0,.1);
    margin-right: 24px;
    cursor: pointer;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.card-info * {
    min-width: 20px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.card-name {
    font-weight: 500;
    font-size: 2.3rem;
}

.card-link {
    font-weight: 300;
    font-size: 1.6rem;
    color: #000;
}

.card-category {
    font-weight: 300;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.3);
    overflow: visible;
}

.card-price {
    font-weight: 500;
    font-size: 2.3rem;
    white-space: nowrap;
}

.card-btn-delete:hover {
    color: #ff4d4f !important;
    border-color: #ff4d4f !important;
}