
.card-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.card-img-and-text {
    // border: 1px solid purple;
    grid-column: 1 / 7;
    display: flex;
    margin-right: 24px;
}

.card-price-and-btns {
    // border: 1px solid purple;
    grid-column: 7 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-price-and-check {
    // border: 1px solid green;
    display: grid;
    grid-template-columns: auto 96px;
    justify-items: end;
    align-items: center;
}

.card-btns {
    // border: 1px solid green;
    display: flex;
    justify-content: flex-end;
}

.card-img {
    height: 120px;
    min-width: 120px;
    max-width: 120px;
    background: rgba(0,0,0,.1);
    margin-right: 24px;
    cursor: pointer;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    max-width: 100%; //ширина блока с текстом
}

.card-info * {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 1.5;
}

.card-name {
    font-weight: 500;
    font-size: 2.3rem;
    cursor: pointer;
}

.card-link {
    font-weight: 300;
    font-size: 1.6rem;
    color: #000;
}

.card-category {
    font-weight: 300;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.3);
    overflow: visible;
}

.card-price {
    text-align: center;
    font-weight: 500;
    font-size: 2.3rem;
    white-space: nowrap;
}

.card-btn-complete:hover {
    color: #73d13d !important;
    border-color: #73d13d !important;
}

.card-btn-delete:hover {
    color: #ff4d4f !important;
    border-color: #ff4d4f !important;
}

.card-about-img {
    width: 100%;
    height: 472px;
    background: rgba(0,0,0,.1);
    margin-bottom: 20px;
}

.card-about-name {
    font-weight: 500;
    font-size: 2.3rem;
    display: block;
    margin: 10px 0;
}

.card-about-link {
    font-weight: 300;
    font-size: 1.6rem;
    color: #000;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 10px;
}

.card-about-desc {
    font-weight: 300;
    font-size: 1.6rem;
    color: #000;
    display: block;
} 

@media (max-width: 840px) {
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .card-img-and-text {
        // border: 1px solid purple;
        grid-column: 1 / 2;
        display: flex;
        margin-right: 0;
        margin-bottom: 24px;
    }
    
    .card-price-and-btns {
        // border: 1px solid purple;
        grid-column: 1 / 2;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .card-price-and-check {
        grid-template-columns: auto 56px;
    }

    .card-btns {
        // border: 1px solid green;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 635px) {
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .card-img-and-text {
        // border: 1px solid purple;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 24px;
    }
    
    .card-price-and-btns {
        // border: 1px solid purple;
        grid-column: 1 / 2;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .card-price-and-check {
        grid-template-columns: auto 56px;
    }

    .card-btns {
        // border: 1px solid green;
        display: flex;
        justify-content: flex-end;
    }

    .card-img {
        min-width: 100%;
        height: 70vw;
    }

    .card-about-img {
        height: 80vw;
    }

    .card-img, .card-name, .card-link {
        margin-bottom: 16px;
    }
}

@media (max-width: 490px) {
    .card-price-and-check {
        grid-template-columns: auto 36px;
    }

    .card-img {
        min-width: 100%;
        height: 70vw;
    }

    .card-name, .card-link {
        width: 78vw;
    }
    
    .card-name {
        font-size: 2rem;
    }

    .card-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 350px) {
    .card-price-and-check {
        grid-template-columns: auto 24px;
    }
    .card-price {
        font-size: 2rem;
    }
}