.header {
    height: 62px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0 , 0.1);
    font-size: 2.6rem;
    // color: rgb(118, 54, 191);
}

.wrap {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 30px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: 'Aboreto', cursive;
    text-decoration: none;
    color: #000;
}

@media (max-width: 490px) {
    .header {
        font-size: 2rem;
    }

    .wrap {
        padding: 0 10px;
    }
}