.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.2rem;
    font-size: 2.6rem;
}

.wrap {
    max-width: 960px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}